/**
 * Additions to the base styles for Outreach Pro
 * This style sheet is intended to hold any extra styles that 
 * 		need to be applied to the UMW implementation of the 
 * 		StudioPress Outreach Pro theme
 * If you need to change any existing styles for Outreach Pro, 
 * 		those changes should be made within outreach-pro.css
 *
 * @version 0.1.19
 */

* {
	border-radius: 0px !important;
}

/**
 * Global Header
 */
.umw-global-header {
	background-color: #002b5a;
	border-top: 1px solid #2b4f75;
}

body .umw-logo-block > a {
	display: block;
	margin: 0;
	padding: 5px 0;
}

#umw-full-logo-img {
	width: 225px;
	max-width: 100%;
	max-height: 32.89902280130293%;
}

#umw-full-logo-img path.style0, #umw-full-logo-img path.style1 {
	fill: #fff;
}

.umw-logo-block {
	width: 250px;
	max-width: 100%;
	float: left;
}

.site-header {
	clear: both;
}

.site-header .widget-area {
	padding-top: 34px;
}

body .umw-header-bar > .wrap, body .umw-helpful-links .umw-tools {
	max-width: 1140px;
}

.outreach-pro-home .site-inner {padding: 0px !important;}

/**
 * Home Widget Areas
 */

.home-top.widget-area .widget_text {
	padding: 0;
}

.home-top.widget-area .wp_rss_retriever_list {
	display: inline;
}

.home-top.widget-area .wp_rss_retriever_list .wp_rss_retriever_item {
	display: inline-block;
	width: 25%;
	padding-left: 2rem;
}

.home-top.widget-area .wp_rss_retriever_list .wp_rss_retriever_item:first-child {
	padding-left: 0;
}

.home-bottom {
	padding-top: 20px;
}

#homepageCTA {
	color: #002b5a;
	margin-top: 1em;
}

#homepageCTA h1 {
	font-size: 1.75em;
}

#homepageCTA span.genericon {
	font-size: 5em;
	float: left;
}
#homepageCTA span.dashicon {
	font-size: 5em;
	float: left;
	width: auto;
	height: auto;
}

#homepageCTA .one-third {
	border-left: 1px solid #e6eaee;
	border-bottom: 1px solid #e6eaee;
	padding-bottom: .5em;
	padding-top: .5em;
}

#impactStatement {
	font-family: "MuseoSlab", Georgia, "Times New Roman", Times, serif;
	font-size: 22px;
	color: #002b5a;
	background: #ccd5de;
	text-align: center;
	padding: 1em;
	margin-top: 1em; 
	margin-bottom: 1em;
}

#calendarLink {
	clear: both;
	text-align: right;
}

/**
 * Sidebar Navigation Styles
 */

.widget_pages .children, .widget_section_nav .children {
	display: none;
}

.current_page_item > a {
	font-weight: bold;
}

.widget_pages .current_page_ancestor .children, .widget_pages .current_page_item .children, .widget_pages .current-menu-item .children, .widget_section_nav .current_page_ancestor .children, .widget_section_nav .current_page_item .children, .widget_section_nav .current-menu-item .children {
	display: block;
}

.widget li {
	border-bottom: 1px solid #E6EAEE;
}

.sidebar .widget a {
	color: #fff;
}

.sidebar .widget a:hover {
	color: #eee;
	text-decoration: underline;
}

/*
 * Universal Footer styles - might need tweaks
 */
 
#reportProblem {
	text-align: center;
}

footer.site-footer div h4.widget-title.widgettitle {
	color: #fff;
	font-weight: 500;
}

footer.site-footer a.genericon {
	font-size: 2em;
}

footer.site-footer .widget {
	margin-bottom: 0px;
}

.umw-global-footer {
	background: #4c6a8b;
	padding: 0;
	font-size: 12px;
	font-size: .75rem;
}

.umw-global-footer h4.widget-title, .umw-global-footer h4.widgettitle {
	font-family: MuseoSans, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: none;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 500;
}

.umw-global-footer > .wrap {
	max-width: 100%;
	width: 100%;
}

.umw-global-footer .global-footer-top, .umw-global-footer .primary-global-footer > .wrap {
	margin: 0 auto;
	max-width: 1000px;
}

.umw-global-footer .secondary-global-footer {
	max-width: 1140px;
	margin: 0 auto;
}

.umw-global-footer .primary-global-footer {
	border-bottom: 1px solid #728aa4;
	max-width: 100%;
	width: 100%;
}

.umw-global-footer .global-footer-top {
	max-width: 100%;
	width: 100%;
	border-bottom: 1px solid #728aa4;
}

.umw-global-footer .global-footer-top .widget {
	max-width: 1140px;
	margin: 0 auto;
}

.umw-global-footer .primary-global-footer:after {
	display: block;
	content: " ";
	clear: both;
	float: none;
}

.umw-global-footer .global-footer-bottom-2 {
	text-align: right;
}

.umw-global-footer .widget {
	background: none;
	margin: 0;
	color: #fff;
}

.umw-global-footer .widget .widget-title {
	color: #fff;
}

#menu-footer-legal-links li.menu-item {
	display: inline-block;
	padding: 0 0 0 8px;
	padding: 0 0 0 .5rem;
	margin: 0 0 0 8px;
	margin: 0 0 0 .5rem;
	border: none;
	border-left: 1px solid #fff;
}

#menu-footer-legal-links li.menu-item:first-child {
	border: none;
}

/**
 * Home Page Slideshow Styles
 */
 
.home-top .flexslider {
	border: none;
	padding: 0;
	margin: 0;
}

.home-top .flexslider .slides > li {
	position: relative;
}

.home-top .uhp-slider-wrap {
	position: relative;
}

.home-top .uhp-slider {
	position: relative;
	z-index: 9;
}

.home-top .uhp-slider-nav {
	z-index: 10;
}

.home-top .flex-control-thumbs, .home-top .flexslider .slide-caption, .home-top .uhp-slider-nav {
	width: 300px;
	width: 18.75rem;
	padding: 0 48px;
	padding: 0 3rem;
	max-width: 80%;
	position: absolute;
	left: 10%;
	bottom: 0;
	background: none;
}

.home-top .flexslider .slide-caption {
	top: 0;
	background: rgba(0, 43, 90, 0.7);
	margin-top: 0;
	padding: 64px 32px 100px;
	padding: 4rem 2rem 6.25rem;
	color: #fff;
}

.home-top .flexslider .slide-caption a {
	color: #fff;
}

.home-top .flexslider .slide-caption h1 {
	font-family: MuseoSlab, Georgia, 'Times New Roman', Times, serif;
	font-size: 32px;
	font-size: 2rem;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}

.home-top .flex-control-thumbs li, .home-top .uhp-slider-nav .slide {
	width: 35px;
	height: 35px;
	margin: 2px;
	float: none;
	display: inline-block;
}

/*
 * Campus directory styles
 */
 
body.single-employee > div.site-container > div > div > div > main > article > header {
	display: none;
}

.entry-meta {
	display: none;
}
#directoryNav {min-height: 4em;}

#directoryNav .one-fourth {
	text-align: center;
	font-size: 1em;
	background-color: #ccd5de;
}
#directoryNav .one-fourth a {color: #fff;}

#directoryNav .one-fourth a:hover {color: #e6eaee;}

/* .wp_rss styles aren't unique to the directory. We need to find a way to differentiate, commit to one styling, or just do something else. */
.wp_rss_retriever_image {
	clear: both;
	float: left;
	padding-right: .5em;
	padding-top: .25em;
}

.wp_rss_retriever_title {
	clear: both;
	font-weight: bold;
	display: block;
}

.wp_rss_retriever_item {
	padding: .50em; /*max-width: 250px; float: left; */
	margin-bottom: .25em;
}

.entry-content ul.wp_rss_retriever_list > li {
	list-style-type: none;
}

.entry-content ul.wp_rss_retriever_list {
	margin-left: 0px;
}

.wp_rss_retriever_metadata {
	font-style: italic;
	font-size: .75em;
}

/*
 * A-to-Z Shortcode Styles
 */
 
.atoz-alpha-links {
	width: 100%;
	text-align: left;
	max-width: 100%;
}

.atoz-alpha-links ul, .atoz-alpha-links li {
	list-style: none;
}

.atoz-alpha-links ul {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

.atoz-alpha-links li {
	display: inline;
}

.atoz-alpha-links li a {
	display: inline-block;
	padding: .25rem .75rem;
	margin: 0 1rem 1rem 0;
	border: 1px dotted #eee;
	background: #e2e2e2;
	text-decoration: none;
}

.atoz-alpha-links li a:hover, .atoz-alpha-links li a:focus {
	background: #eee;
	border: 1px solid #000;
}

/* general system-wide styles */
div.entry-content a {color: #b81237; font-weight: bold; font-family: MuseoSlab, serif;}
a.genericon, div.entry-content a.genericon {font-size: 2em; font-weight: normal; font-family: "Genericons";}
a.dashicons, div.entry-content a.dashicons {font-size: 2em; font-weight: normal; font-family: dashicons;}
div.entry-content a:hover {color: #002b5a; text-decoration: underline;}

/* Site title & value proposition */
.siteInfo {background-color: #e6eaee; font-size: 14px; padding: .5em;}
.siteTitle {width: 100%; font-family: MuseoSlab; color: #002b5a; font-weight: 500; text-transform: uppercase; font-size: 1.5em;}
.siteContacts {}
