* {border-radius: 0px !important;} 
h1, h2, h3, h4, h5, h6 {font-family: "MuseoSlab", Georgia, "Times New Roman", Times, serif;} 

.umw-global-header {
	background-color: #002b5a;
	border-top: 1px solid #2b4f75;
}

body .umw-logo-block > a {
	display: block;
	margin: 0;
	padding: 5px 0;
}

#umw-full-logo-img {
	width: 200px;
	max-width: 100%;
	height: 81px;
	max-height: 32.89902280130293%;
}

#umw-full-logo-img path.style0, 
#umw-full-logo-img path.style1 {
	fill: #fff;
}

.umw-logo-block {
	width: 250px;
	max-width: 100%;
	float: left;
}
.site-header {
	background-color: #002b5a !important;
	clear: both;
}
.site-header .wrap {
  padding: 0 !important; }
.site-header .widget-area {
  padding-top: 34px;}
  
body .umw-header-bar > .wrap, 
body .umw-helpful-links .umw-tools {
	max-width: 1140px;
}
body {background-color: #fff !important; font-family: "MuseoSans", Helvetica, Arial, Tahoma, sans-serif;}
.site-inner {padding-top: 0px;}
div.breadcrumb {
    background-color: #fff;
    font-size: 12px;
    margin-bottom: 0px !important;
    padding: 10px 16px;
}
main.content {margin-bottom: 5px; padding: 0px;}

/**
 * Home Widget Areas
 */
.home-top.widget-area .widget_text {
	padding: 0;
}

.home-top.widget-area .wp_rss_retriever_list {
	display: inline;
}

.home-top.widget-area .wp_rss_retriever_list .wp_rss_retriever_item {
	display: inline-block;
	width: 25%;
	padding-left: 2rem;
}

.home-top.widget-area .wp_rss_retriever_list .wp_rss_retriever_item:first-child {
	padding-left: 0;
}

#homepageCTA {color: #002b5a;}
#homepageCTA h1 {font-size: 1.75em;}
#homepageCTA span.genericon {font-size: 5em; float: left;}
#homepageCTA .one-third {border-left: 1px solid #e6eaee; border-bottom: 1px solid #e6eaee; padding-bottom: .5em; padding-top: .5em;}
#impactStatement {font-family: "MuseoSlab", Georgia, "Times New Roman", Times, serif; font-size: 22px; color: #002b5a; background: #ccd5de; text-align: center; padding: 1em;}
footer.site-footer {background-color: #3a5b7d !important; text-align: left;}
#calendarLink {clear: both; text-align: right;}
.home-bottom {padding-top: 20px;}
/**
 * Sidebar Navigation Styles
 */

.widget_pages .children, 
.widget_section_nav .children {
	display: none;
}

.current_page_item > a {
  font-weight: bold;}

.widget_pages .current_page_ancestor .children,  
.widget_pages .current_page_item .children, 
.widget_pages .current-menu-item .children, 
.widget_section_nav .current_page_ancestor .children,  
.widget_section_nav .current_page_item .children, 
.widget_section_nav .current-menu-item .children {
	display: block;
}

.widget li {border-bottom: 1px solid #E6EAEE;}

.sidebar .widget {background-color: #3A5B7D !important; color: #fff; padding: 15px !important;}
.sidebar .widget a {color: #fff;}
.sidebar .widget a:hover {color: #eee; text-decoration: underline;}


/*
 * A-to-Z Shortcode Styles
 */
.atoz-alpha-links {
	width: 100%;
	text-align: left;
	max-width: 100%;
}

.atoz-alpha-links ul, 
.atoz-alpha-links li {
	list-style: none;
}

.atoz-alpha-links ul {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

.atoz-alpha-links li {
	display: inline;
}

.atoz-alpha-links li a {
	display: inline-block;
	padding: .25rem .75rem;
	margin: 0 1rem 1rem 0;
	border: 1px dotted #eee;
	background: #e2e2e2;
	text-decoration: none;
}

.atoz-alpha-links li a:hover, 
.atoz-alpha-links li a:focus {
	background: #eee;
	border: 1px solid #000;
}
/*
 * Campus directory styles
 */
body.single-employee > div.site-container > div > div > div > main > article > header {display: none;}
.entry-meta {display: none;}
#directoryNav .one-fourth {text-align: center; font-size: 1.5em; background-color: #ccd5de;}

/* .wp_rss styles aren't unique to the directory. We need to find a way to differentiate, commit to one styling, or just do something else. */
 .wp_rss_retriever_image {clear: both; float: left; padding-right: .5em; padding-top: .25em;}
.wp_rss_retriever_title {clear: both; font-weight: bold; display: block;}
.wp_rss_retriever_item {padding:  .50em; /*max-width: 250px; float: left; */margin-bottom: .25em; background-color: #eee;}
.entry-content ul.wp_rss_retriever_list > li {list-style-type: none;}
.entry-content ul.wp_rss_retriever_list {margin-left: 0px;}
.wp_rss_retriever_metadata {font-style: italic; font-size: .75em;}

/*
 * Universal Footer styles - might need tweaks
 */
 #reportProblem {text-align: center;}
footer.site-footer div h4.widget-title.widgettitle {color: #fff; font-weight: 500;}
footer.site-footer a.genericon {font-size: 2em;}
footer.site-footer .widget {margin-bottom: 0px;}

.umw-global-footer {
	background: #4c6a8b;
	padding: 0;
	font-size: 12px;
	font-size: .75rem;
}

.umw-global-footer h4.widget-title, 
.umw-global-footer h4.widgettitle {
	font-family: MuseoSans, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: none;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 500;
}

.umw-global-footer > .wrap {
	max-width: 100%;
	width: 100%;
}

.umw-global-footer .global-footer-top, 
.umw-global-footer .primary-global-footer > .wrap {
	margin: 0 auto;
	max-width: 1000px;
}

.umw-global-footer .secondary-global-footer {
	max-width: 1140px;
	margin: 0 auto;
}

.umw-global-footer .primary-global-footer {
	border-bottom: 1px solid #728aa4;
	border-top: 1px solid #728aa4;
	max-width: 100%;
	width: 100%;
}

.umw-global-footer .primary-global-footer:after {
	display: block;
	content: " ";
	clear: both;
	float: none;
}

.umw-global-footer .global-footer-bottom-2 {
	text-align: right;
}

.umw-global-footer .widget {
	background: none;
	margin: 0;
	color: #fff;
}

.umw-global-footer .widget .widget-title {
	color: #fff;
}

#menu-footer-legal-links li.menu-item {
	display: inline-block;
	padding: 0 0 0 8px;
	padding: 0 0 0 .5rem;
	margin: 0 0 0 8px;
	margin: 0 0 0 .5rem;
	border: none;
	border-left: 1px solid #fff;
}

#menu-footer-legal-links li.menu-item:first-child {
	border: none;
}

/**
 * Home Page Slideshow Styles
 */
.home-top .flexslider {
	border: none;
	padding: 0;
	margin: 0;
}

.home-top .flexslider .slides > li {
	position: relative;
}

.home-top .flex-control-thumbs, 
.home-top .flexslider .slide-caption {
	width: 300px;
	width: 18.75rem;
	padding: 0 48px;
	padding: 0 3rem;
	max-width: 80%;
	position: absolute;
	left: 10%;
	bottom: 0;
}

.home-top .flexslider .slide-caption {
	top: 0;
	background: rgba(0, 43, 90, 0.7);
	margin-top: 0;
	padding: 64px 32px 100px;
	padding: 4rem 2rem 6.25rem;
	color: #fff;
}

.home-top .flexslider .slide-caption a {
	color: #fff;
}

.home-top .flexslider .slide-caption h1 {
	font-family: MuseoSlab, Georgia, 'Times New Roman', Times, serif;
	font-size: 32px;
	font-size: 2rem;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}

.home-top .flex-control-thumbs li {
	width: 35px;
	height: 35px;
	margin: 2px;
	float: none;
	display: inline-block;
}